{% extends "alerts/base.html" %}

{% block content %}
<div class="focus"><p>You&rsquo;re signed in as <strong>{{ user.email }}</strong>. If that&rsquo;s not who you want to be today, <a href="#" class="persona-logout">sign out</a>.</p></div><div class="clear"></div>
{% if subscriptions %}
<div class="context"><h2>Existing alerts</h2></div>
<div class="focus">
	<ul>{% for sub in subscriptions %}<li>{{ sub.topic }}</li>{% endfor %}</ul>
</div><div class="clear"></div>
{% endif %}

<div class="context"><h2>Creating alerts</h2></div>
<div class="focus"><p>To create an alert, use our <a href="/search/">search</a> to look for something like:</p>
{% include "alerts/search_examples.inc.html" %}
<p>Then click the green <strong>Create an alert</strong> button on the left of the search page.</p>
</div>
<div class="clear"></div>
{% endblock %}

{% block breadcrumbs %}Alerts{% endblock %}