{% extends "alerts/base.html" %}

{% block content %}
{% if not request.session.pending_alert %}
<div class="row">
	<div class="context-col"><h2>What you get</h2></div>
	<div class="main-col"><p>An automated email, every time something happens in Parliament that matches your interests.</p>
	<p>For example:</p>
	{% include "alerts/search_examples.inc.html" %}
	</div>
</div>
{% endif %}
<div class="row">
	<div class="context-col"><h2>Get started</h2></div>
	<noscript><div class="focus"><p>You need to enable JavaScript.</p></div></noscript>
	<div class="main-col jsonly">
			<p>If you have an account with Google, that&rsquo;s the easiest way to sign in:</p>
			{% include "accounts/google-signin.inc.html" %}
			<p>Otherwise, enter your email address below, and we'll email a link that allows you to sign in:</p>
			{% include "accounts/email-signin.inc.html" %}
	</div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% if request.session.pending_alert %}
<script type="text/javascript">
$(function() {
	OP.utils.notify("Sign in below to create your alert for {{ request.session.pending_alert|escapejs }}", 'warning', { hideAfter: 0});
});
</script>
{% endif %}
{% endblock %}

{% block breadcrumbs_all %}{% endblock %}
