{% extends "alerts/base.html" %}
{% load ours %}

{% block content %}

{% if success %}
<div class="row align-right">
	<div class="main-col"><p>We've got your e-mail. <strong>But there's one more step.</strong></p>
	<p>Any second now, you should receive a confirmation e-mail from us. It'll contain a link you need to click on in order to activate your alert.</p>
	<p>If you don't receive this confirmation within a few minutes, check your Junk or Spam e-mail folder. (If it's there, you should add <span class="code">alerts@contact.openparliament.ca</span> to your address book to prevent our future e-mails from being junked.) If you still can't find it, try signing up again.</p>
	<p>Thanks!</p></div>
</div>
{% else %}
<div class="row">
	<div class="context-col"><h2>What you'll get</h2></div>
	<div class="main-col">
	    <p>A message whenever {{ pol.name }} speaks during the debates of the House, telling you exactly what {{ pol|heshe|lower }} said. No more than one e-mail per day. The e-mail gets sent as soon as we process a given day's debates, which is usually the morning after.</p>
	</div>
</div>

<div class="row">
	<div class="context-col"><h2>Sign up</h2></div>
	<div class="main-col">
		<form class="signup" action="." method="POST">
			{{ form.non_field_errors }}
			<div class="input-group">
				<span class="input-group-label">
					{{ form.email.label_tag }}	
				</span>
				{{ form.email }}
				<div class="input-group-button">
					<input type="submit" class="button" value="Sign up" />
				</div>
			</div>
		{% for field in form %}
			{{ field.errors }}
			{% if field.html_name != "email" %}
				{{ field }}
			{% endif %}
		{% endfor %}
		</form>
	</div>
</div>
{% endif %}

{% endblock content %}

{% block breadcrumbs %}<li><a href="{% url "politicians" %}">MPs</a></li> {% if not pol.latest_member.current %}<li><a href="{% url "former_mps" %}">Former</a></li> <li><a href="{% url "former_mps" %}#{{ pol.latest_member.riding.province }}">{% else %}<li><a href="{% url "politicians" %}#{{ pol.latest_member.riding.province }}">{% endif %}{{ pol.latest_member.riding.province|expand_province }}</a></li> <li><a href="{{ pol.get_absolute_url }}">{{ pol.name }}</a></li> <li>Alerts</li>{% endblock %}