*.pyc
*.dump
*.gz
*~
*.tmproj
*.pickle
*.sublime-
*.ipynb*
.idea/
.DS_Store
models.dot
polpics/
autoimg/
local/
settings.py
pip-log.txt
logs/
media/
collected_static/
fabfile
*.sublime-*
language_models/
node_modules/
