*.pyc
*.bak
*.dump
*.gz
*~
*.tmproj
*.pickle
*.sublime-
*.ipynb*
.idea/
.DS_Store
models.dot
local/
design/
settings.py
pip-log.txt
logs/
mediafiles/
staticfiles/
fabfile
*.sublime-*
language_models/
node_modules/
.python-version
hansard-cache/
*.code-workspace
docker-compose.yml
build