Django
dj-database-url
django-compressor
django-extensions
django-imagekit
django-libsass
django-recaptcha
lxml
lxml_html_clean
cssselect
Markdown
pysolr
requests
psycopg
webob
oauth2client
whitenoise
pymemcache
gunicorn
calmjs