{% extends "committees/base.html" %}

{% block breadcrumbs %}<a href="{% url "committee_list" %}">Committees</a> <a href="{{ committee.get_absolute_url }}">{{ committee.short_name }}</a> {{ year }}{% endblock %}

{% block content %}
<div class="context"><h2>Meetings</h2></div>
<div class="focus">
	{% include "committees/meeting_list.html.inc" %}
</div><div class="clear"></div>

{% if studies %}
<div class="context"><h2>Studies</h2></div>
<div class="focus">
	<ul class="tile">
		{% for study in studies %}<li class="six twoline overflowtip"><a href="{{ study.get_absolute_url }}">{{ study }}</a></li>{% endfor %}
	</ul>
</div><div class="clear"></div>
{% endif %}
{% endblock %}