{% extends "committees/base.html" %}
{% block breadcrumbs %}<li><a href="{% url "committee_list" %}">Committees</a></li> <li>{{ committee.short_name }}</li>{% endblock %}
{% block content %}
<div class="row align-right">

	<div class="main-col">
			{% include "search/searchbox.inc" with prepend_filter="Committee" prepend_value=committee.slug placeholder=search_placeholder %}
			<p style="margin-top: 20px;">
				{% if committee.parent %}
				This is a subcommittee of the <a href="{{ committee.parent.get_absolute_url }}">{{ committee.parent }}</a> committee.</p>
				{% endif %}
				This committee&rsquo;s page on <a href="{{ committee.get_source_url }}">Parliament&rsquo;s site</a> is much more comprehensive than this page.
			</p>
	</div>
</div>

	<div class="wordcloud"></div>

<div class="row">
    <div class="context-col"><h2>Meetings</h2></div>
    <div class="main-col">
	{% include "committees/meeting_list.html.inc" %}
	</div>
</div>

	{% if subcommittees %}
		<div class="row">
			<div class="context-col"><h2>Subcommittee{{ subcommittees|pluralize }}</h2></div>
			<div class="main-col">
				<ul class="row tile dense small-up-1 medium-up-2">
					{% for subc in subcommittees %}<div class="column column-block"><a href="{{ subc.get_absolute_url }}">{{ subc }}</a></div>{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}

	{% if recent_studies %}
	<div class="row">
		<div class="context-col"><h2>Recent studies</h2></div>
		<div class="main-col">
			<div class="row tile dense small-up-1 medium-up-2">
				{% for study in recent_studies %}<div class="column column-block twoline overflowtip"><a href="{{ study.get_absolute_url }}">{{ study }}</a></div>{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	{% if archive_years %}
	<div class="row">
		<div class="context-col"><h2>Archive</h2></div>
		<div class="main-col">
			<div class="row tile dense small-up-2 medium-up-4">
				{% for year in archive_years %}<div class="column column-block"><a href="{% url "committee_year_archive" slug=committee.slug year=year %}">{{ year }}</a></div>{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block js %}
<script>
$(function() {
	var wordcloud_opts = {
		searchURL: '/search/?q=Committee:+%22{{ committee.slug|escapejs }}%22+'
	};
	{{ wordcloud_js }}
});
</script>
{% endblock %}