{% extends "committees/meeting.html" %}
{% block headextra %}
{{ block.super }}
{% if highlight_statement or highlight_statement == 0%}
<link rel="canonical" href="{{ request.path }}only/">
<meta name="robots" content="noindex">
{% endif %}
{% endblock %}
{% block content %}
<div class="row align-right">
<div class="main-col">
	<p>Evidence of meeting #{{ meeting.number }} for <a href="{{ committee.get_absolute_url }}">{{ committee.name }}</a> in the {{ meeting.session }}. (The <a href="{{ document.url }}" data-hoc-doc-url>original version</a> is on Parliament&rsquo;s site{% if meeting.minutes_url %}, as are the <a href="{{ meeting.minutes_url }}">minutes</a>{% endif %}.)
		{% if document.most_frequent_word %}The <span class="tipunderline" data-tooltip title="Most frequently spoken word, compared to other similar meetings.">winning word</span> was <strong>{{ document.most_frequent_word }}</strong>.{% endif %}</p>
{% if meeting.webcast_url %}<p>A <a href="{{ meeting.webcast_url }}" target="_blank">{% if meeting.televised %}video{% else %}recording{% endif %}</a> is available from Parliament.</p>{% endif %}
</div>
</div>

<div class="wordcloud"></div>

{% if meeting.activities_list %}
	<div class="row">
		<div class="context-col"><h2>On the agenda</h2></div>
		<div class="main-col"><div class="row tile dense small-up-1 medium-up-2">{% for activity in meeting.activities_list %}<div class="column column-block threeline overflowtip"><a href="{{ activity.get_absolute_url }}">{{ activity }}</a></div>{% endfor %}</div></div>
	</div>
{% endif %}

<div class="row">
	<div class="context-col"><h2>Members speaking</h2></div>
	<div class="main-col">
		<div class="row tile dense small-up-1 medium-up-2 large-up-3">
			{% for speaker_name, speaker_info in document.mp_speaker_summary.items %}<div class="column column-block"><a href="{{ document.get_absolute_url }}{{ speaker_info.slug }}/" {# data-marginalia="{{ speaker_info.description }}" #}>{{ speaker_name }}</a></div>{% endfor %}
		</div>
	</div>
</div>

{% with document.outside_speaker_summary as outside_speakers %}{% if outside_speakers %}
<div class="row">
	<div class="context-col"><h2>Before the committee</h2></div>
	<div class="main-col">
		<div class="row tile dense small-up-1 medium-up-2">
			{% for speaker_name, speaker_info in outside_speakers.items %}<div class="column column-block"><a href="{{ document.get_absolute_url }}{{ speaker_info.slug }}/">{{ speaker_name }}</a> &nbsp;{{ speaker_info.description }}</div>{% endfor %}
		</div>
	</div>
</div>
{% endif %}{% endwith %}

<div id="paginated">

{% include "hansards/statement_page.inc" %}

</div>
{% endblock %}

{% block js %}
<script>
$(function() {
	var document_url = "{{ document.get_absolute_url|escapejs }}";
	var wordcloud_opts = {
		searchURL: '/search/?q=Document:+%22' + document_url + '%22+'
	};
	{{ wordcloud_js }}
});
</script>
{% endblock %}