{% extends "committees/meeting.html" %}
{% load thumbnail compress %}
{% block headextra %}
	{% compress js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/pagination.js"></script>
	{% endcompress %}
{{ block.super }}
{% if highlight_statement or highlight_statement == 0%}<link rel="canonical" href="{{ highlight_statement.get_absolute_url }}only/">{% endif %}
{% endblock %}
{% block content %}
<div class="focus">
	<p>Evidence of meeting #{{ meeting.number }} for <a href="{{ committee.get_absolute_url }}">{{ committee.name }}</a> in the {{ meeting.session }}. (The <a href="{{ document.url }}">original version</a> is on Parliament&rsquo;s site{% if meeting.minutes_url %}, as are the <a href="{{ meeting.minutes_url }}">minutes</a>{% endif %}.) The <span class="tip tipunderline" title="Most frequently spoken word, excluding a fixed list of extra-boring words (like 'the', or 'government').">winning word</span> was {% if document.wordcloud %}<a href="{{ document.wordcloud.url }}" rel="lightbox">{{ document.get_wordoftheday }}</a>{% else %}<strong>{{ document.get_wordoftheday}}</strong>{% endif %}.</p>
	{% if meeting.webcast %}<p>A <a href="{{ meeting.webcast_url }}" target="_blank">recording</a> is available from Parliament.</p>{% endif %}
</div>

{% if meeting.activities_list %}
<div class="clear"></div><div class="context"><h2>On the agenda</h2></div>
<div class="focus"><ul class="tile">{% for activity in meeting.activities_list %}<li class="six twoline overflowtip"><a href="{{ activity.get_absolute_url }}">{{ activity }}</a></li>{% endfor %}</ul><div class="clear"></div></div>
{% endif %}

<div class="clear"></div>
<div class="context"><h2>MPs speaking</h2></div>
<div class="focus">
	<ul class="tile">
		{% for speaker_name, speaker_info in document.mp_speaker_summary.items %}<li class="four oneline overflowtip"><a href="{{ document.get_absolute_url }}{{ speaker_info.slug }}/" data-marginalia="{{ speaker_info.description }}">{{ speaker_name }}</a></li>{% endfor %}
	</ul>
</div><div class="clear"></div>

<div class="context"><h2>Also speaking</h2></div>
<div class="focus">
	<ul class="tile">
		{% for speaker_name, speaker_info in document.outside_speaker_summary.items %}<li class="six threeline overflowtip"><a href="{{ document.get_absolute_url }}{{ speaker_info.slug }}/">{{ speaker_name }}</a> &nbsp;{{ speaker_info.description }}</li>{% endfor %}
	</ul>
</div>

<div id="paginated">

{% include "hansards/statement_page.inc" %}

</div>
{% endblock %}
{% block footer %}<p>View this document on a <a href="?singlepage=1">single page</a>.</p>{{ block.super }}{% endblock footer %}