{% extends "admin/base_site.html" %}

{% block title %}Politician dupes{% endblock %}

{% block content %}
{% for dupeset in dupelist %}

<div class="form-row {% cycle row1,row2 %}">
	{% for dupe in dupeset %}
	<p><strong>{{ dupe.name }}</strong> {{ dupe.id }}</p>
		<ul>{% for elected in dupe.electedmember_set.all %}
			<li><strong>member</strong> ({{ elected.party }}) for {{ elected.riding }} in session {{ elected.session }}</li>
			{% endfor %}
			{% for candidate in dupe.candidacy_set.all %}
			<li><strong>{% if candidate.elected %}elected {% endif %}candidate</strong> ({{ candidate.party }}) for {{ candidate.riding }} during {{ candidate.election }}</li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>
{% endfor %}
{% endblock %}