{% extends "base.html" %}
{% load markup thumbnail %}
{% block pagetitle %}Hansard for {{ hansard.date }} (#{{ hansard.number }}){% endblock %}

{% block content %}
	<h1>Hansard #{{ hansard.number }} for {{ hansard.date }}</h1>
	<h4>{{ hansard.session }}</h4>
	<p><a href="./local/">(cache)</a> <a href="{{ hansard.url }}">(original version)</a></p>
	
{% for statement in statements %}
<a name="s{{ statement.sequence }}"></a>{% if statement.member.politician.headshot %}<img src="{% thumbnail statement.member.politician.headshot 67x90 crop_first="28,20,68,20" %}" style="float: left; padding: 2px; margin: 4px; border: 1px solid #666666;">{% endif %}<p><strong>{{ statement.who }}</strong> <small>(<a href="{{ statement.member.politician.get_absolute_url }}">{{ statement.member }}</a>)</small><br><small>{{ statement.heading }} / {{ statement.topic }} / {{ statement.time|date:"P" }}</small></p>
{{ statement.text|markdown }}
{% endfor %}

{% endblock %}