.searchdatefilter .slider {
    clear: both;
}

.searchdatefilter .tools {
    margin-top: 10px;
    height: 20px;
    margin-bottom: 30px;
}

.searchdatefilter .tools .label {
    position: absolute;
    height: 30px;
}
.searchdatefilter .tools .label.right {
    text-align: right;
}

.searchdatefilter .tools .label span {
    background-color: #fff1ae;
    font-size: 85%;
    font-style: italic;
    color: #222222;
    white-space: nowrap;
}

.searchdatefilter .chart {
    position: relative;
}
.searchdatefilter .hover-label {
    position: absolute;
    top: 0;
}
.searchdatefilter .hover-label .highlight {
    background-color: #888888;
    width: 100%;
    height: 100%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    opacity: 0.2;
    cursor: pointer;
}

.searchdatefilter .hover-label .label {
    width: 180px;
    position: absolute;
    top: 10px;
    left: -185px;
    text-align: right;
    font-style: italic;
    color: #777777;
    font-size: 80%;
}

.searchdatefilter .hover-label .label span {
    background-color: white;
    background-color: rgba(255,255,255,0.8);
}
.searchdatefilter .hover-label span.note {
    font-size: 90%;
}