/* GLOBAL SETTINGS */
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:0;line-height:1.33333333333;font-size:15px;background-color:#F0F0F0;}
p{margin:0 0 10px 0;}
h1{font-size:32px;font-weight:bold;color:#222222;margin:0 0 20px 0;padding:0;line-height:40px;}
h2{font-size:24px;font-weight:normal;font-weight:300;margin:0 0 10px 0;color:#522D07;line-height:30px;}
h3{margin:0 0 10px 0;font-weight:bold;color:#522D07;font-size: 17px;}
a{color:#1A59C7;text-decoration:none;font-weight:bold;outline:none;}
a:hover{text-decoration:underline;}
img {border: 0;}

/* LAYOUT */ 
#content{width:960px;margin-left:auto;margin-right:auto;padding-top:15px;}
#content_wrap{clear:both;background-color:white;padding-bottom:20px;}
div.context{clear:both;float:left;width:160px;margin-left:10px;margin-bottom:10px;}
.context_4 div.context{width:220px;}
.context_4 div.focus{width:710px;}
.context_5 div.context{width:280px;}
.context_5 div.focus{width:650px;}
.context_2 div.context{width:100px;}
.context_2 div.focus{width:830px;}
.context h2{position:relative;top:-2px;}
.focus h1,.focus h2,.focus h3,.focus p{max-width:640px;}
div.focus{float:right;width:770px;margin-bottom:20px;}
div.focus.pageheader{margin-bottom:0;}
.clear{clear:both;}
.clearafter:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.three{width:160px;}
.six{width:340px;}
.four{width:220px;}
.spacer{height:10px;}
.context{font-size:14px;}
.context p,.context li{margin-right:15px;}
.context h3{font-size:15px;}

/* SITE NAVIGATION */
#breadcrumbs{width:515px;color:#555555;position:absolute;left:10px;top:65px;font-size:14px;font-weight:bold;}
#breadcrumbs a{background:transparent url('../images/breadglyph.png') no-repeat right;padding-right:13px;font-weight:normal;}
#navlinks{font-weight:bold;position:absolute;font-size:15px;top:24px;left:429px;list-style-type:none;margin:0;padding:0;letter-spacing: 0.1px;}
#navlinks li{padding:0;float:left;margin-right:10px;}
#navlinks li a{color:#CCCCCC;}
#navlinks li.selected a{color:#FFC757;}
#navlinks li a:hover{color:white;text-decoration:underline;}
#navbarbg{width:100%;position:absolute;left:0;top:0;height:16px;background-color:#7d450b;border-top:40px solid #095609;border-bottom:24px solid white;}
#navbar{position:relative;margin-left:auto;margin-right:auto;width:960px;height:80px;}
#navbar img{position:absolute;left:6px;}
#nav_searchbox{position:absolute;right:10px;font-size:15px;top:20px;width:215px;font-family:Arial;padding:2px 4px;border:2px inset #F0F0F0;color: #555555;height: 19px;}
#nav_searchbox.active {color: black;}
#nav_searchbutton{position:absolute;background-image:url('../images/searchbutton.png');width:19px;height:19px;cursor:pointer;right:15px;top:24px;}
#footer{clear:both;width:100%;height:60px;padding-top:10px;}
#footer p{margin-left:auto;margin-right:auto;width:520px;text-align:center;font-size:11px;color:#888888;}
#footer a{color:#888888;font-weight:normal;text-decoration:underline;}
#footer a:hover{color:#1A59C7;}

/* COMMON ELEMENTS */
ul.tile{list-style-type:none;margin:0 0 10px 0;padding:0;}
.tile li{margin-right:20px;margin-bottom:10px;float:left;}
.twoline,.oneline{overflow:hidden;}
.twoline{height:40px;}
.oneline{height:20px;}
#tooltip{position:absolute;z-index:3000;border:1px solid #111;background-color:#f9f7cd;padding:5px;max-width:350px;}
#tooltip h3,#tooltip div{margin:0;font-size:12px;color:#222222;font-weight:normal;}
.winner{font-weight:bold;}
.code{font-family:"Courier New",Courier,monospaced;padding:0 2px;white-space:pre;}
.feed{margin-left:3px;padding:0 0 0 19px;background:url("../images/feed-icon-14x14.png") no-repeat 0 50%;}
ul.bulleted{list-style:none outside url('../images/bullet.png');margin:0 0 20px 0;padding:0;}
.bulleted li{padding:0 0 4px 0;}
form.signup table td,th{padding:5px 20px 5px 0;}
form.signup input[type="text"]{font-size:15px;width:300px;}
form.signup input[type="submit"]{font-size:15px;}
ul.errorlist{list-style-type:none;background-color:#901019;margin:0 0 10px 0;padding:0;}
ul.errorlist li{padding:4px 10px;color:white;font-weight:bold;}
.tipunderline{border-bottom: 1px dashed #333333;}



/* PAGINATION */
.pagination{text-align:center;width:640px;}
.pagination .pagelink{display:inline-block;width:22px;height:23px;background:transparent url('../images/pagebuttons.png') no-repeat;}
.pagination span{margin:0 14px;font-weight:bold;color:#333333;position:relative;bottom:5px;}
.pagination.loading span{visibility:hidden;}
.pagination.loading{background:transparent url('../images/loading.gif') no-repeat center center;}
.pagination .pagelink.prev{background-position:0 -69px;}
.pagination .pagelink.prev:hover{background-position:0 -46px;}
.pagination .pagelink.next{background-position:0 -23px;}
.pagination .pagelink.next:hover{background-position:0 0;}
#paginated{clear:both;}
#paginated_wrapped{margin-top:30px;}

/* TAG BOXES */
.tag{padding:2px 3px;background-color:#CCCCCC;}
.voteresult_Y{background-color:#A9FA98;}
.voteresult_N{background-color:#FF9093;}
.partytag_liberal{background-color:#f6a7a5;}
.partytag_bloc{background-color:#a7ecf6;}
.partytag_cpc,.partytag_alliance, .partytag_canadian-alliance, .partytag_conservative, .partytag_progressive-conservative, .partytag_pc {background-color:#acd0f6;}
/* .partytag_progressive-conservative{background-color: #75acff;} */
.partytag_reform {background-color: #A9FA98;}
.partytag_ndp{background-color:#f6cfa5;}
.activity_news{background-color:#F1F28D;}
.activity_statement{background-color:#ddb8a2;}
.activity_twitter{background-color:#D9A5DF;}
.bill_law{background-color:#A9FA98;}

/* STATEMENTS */
.statement .pol_name{font-weight:bold;}
.statement .tag{font-weight:bold;}
.statement .pol_affil{
padding-left:3px;color:#666666;}
blockquote{/* border-left:3px solid #CCCCCC;*/
margin:0 1em 0 2em;padding:0 0 0 1em;}
.focus blockquote p{max-width:590px;}
.statement{border-top:1px solid #CCCCCC;clear:both;padding-top:19px;width:870px;position:relative;}
.statement.nocontext{width:680px;}
.statement.first{border:none;}
.statement.highlighted{background-color:#fff2b5;}
div.statement div.focus{margin-bottom:10px;min-height:110px;overflow:hidden;width:680px;}
.js .statement .focus {max-height:380px;}
.statement .focus.truncated{max-height:360px;}
.statement .focus.nospeaker{min-height:40px;}
.statement .morelink{position:absolute;width:86px;height:22px;background:transparent url('../images/seemore.png') no-repeat;bottom:22px;left:85px;cursor:pointer;}
.statement .morelink:hover{background-position:0 -22px;}
.statement.nocontext .morelink{left:645px;}
.statement .fadeout{width:640px;height:45px;bottom:10px;left:190px;position:absolute;background:transparent url('../images/tgradient_45.png') repeat-x;}
.statement.nocontext .fadeout{left:0;}
.statement.highlighted .fadeout{background-image:url('../images/tgradient_45_fff2b5.png');}
.statement .focus.displayall{max-height:none;}
.statement .focus.nophoto{min-height:60px;}
.statement .context{font-size:11px;color:#555555;text-align:right;padding-top:2px;}
.headshot_thumb{display:block;float:left;margin:4px 8px 4px 2px;border:2px solid #BBBBBB; width: 67px;}
.statement .focus p {max-width: none;}
.statement .focus div {max-width: 640px;}

/* POLITICIAN PAGE */
.politician img.headshot{margin-left: auto; margin-right: auto;display:block;border:2px solid #666666;}
div.headshot {position: relative; margin: 4px 0 25px 0;}
div.headshot span{display: block;position: relative;font-size: 10px;color: #888888;text-align: right;right: 38px; top: 2px;}
#activity .tag{font-weight:bold;}
#activity h3{border-bottom:1px dotted #AAAAAA;}
#activity h3 span{position:relative;top:3px;}
#activity .excerpt{display:block;border-left:1px dotted #AAAAAA;margin-left:2em;padding-left:1em;font-style:italic;margin-top:5px;}

/* SEARCH */
.result .highlighted,.result em{background-color:yellow;font-style:normal;}
.result.statement .context,.result.statement .focus{min-height:0;}
.result.statement .focus{margin-bottom:5px;}
.result.statement .focus p {max-width: 640px;}
.result.statement{border:none;padding-top:5px;}
#page_searchbox{width:400px;font-size:15px;padding:4px;}
#searchbutton{background-color:#CCCCCC;border:1px solid #AAAAAA;color:#7d450b;font-size:15px;font-weight:bold;margin-left:12px;padding:5px;width:80px;}
.search_options{font-weight: bold; margin-top: 5px;}

/* HOME */
#home_searchbox{width:400px;font-size:15px;padding:4px;color: #555555;}
#home_searchbox.active{color: black;}
.heading_context{padding-left: 3px; color: #666666; font-weight: normal; font-weight: 300;}

