/* GLOBAL SETTINGS */
body{font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;margin:0;padding:0;line-height:1.33333333333;font-size:15px;color: #111111;background-color:#DDDDDD;}
p{margin:0 0 10px 0;}
h1{font-size:32px;font-weight:bold;color:#222222;margin:0 0 20px 0;padding:0;line-height:40px;}
h2{font-size:24px;font-weight:normal;font-weight:300;margin:0 0 10px 0;color:#522D07;line-height:30px;}
h3{margin:0 0 10px 0;font-weight:bold;color:#522D07;font-size: 17px;}
a{color:#1A59C7;text-decoration:none;font-weight:bold;outline:none;}
a.quiet{font-weight:normal;}
a:hover{text-decoration:underline;color:#1A59C7;}
img {border: 0;}
body.nojs .jsonly { display: none;}
input.placeholder { color: #AAAAAA !important;}

/* LAYOUT */ 
#content, .footer_content{width:960px;margin-left:auto;margin-right:auto;padding: 15px 0;position:relative;}
#content_wrap{clear:both;background-color:white;}
div.context{clear:both;float:left;width:160px;margin-bottom:10px;}
.context_4 div.context{width:220px;}
.context_4 div.focus{width:710px;}
.context_5 div.context{width:280px;}
.context_5 div.focus{width:650px;}
.context_2 div.context{width:100px;}
.context_2 div.focus{width:830px;}
.context h2{position:relative;top:-2px;}
.focus h1,.focus h2,.focus h3,.focus p{max-width:640px;}
div.focus{float:right;width:770px;margin-bottom:20px;}
div.focus.pageheader{margin-bottom:0;}
.clear{clear:both;}
.clearafter:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.two{width:100px;}
.three{width:160px;}
.four{width:220px;}
.five{width:280px;}
.six{width:340px;}
.spacer{height:10px;}
.gutter{width:20px;}
.context{font-size:14px;}
.context p,.context li{margin-right:15px;}
.context h3{font-size:15px;}

table {max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0;}
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* SITE NAVIGATION */
#breadcrumbs{width:960px;color:#555555;font-size:14px;font-weight:bold;margin-bottom: 10px;}
#breadcrumbs a{background:transparent url('../images/breadglyph.png') no-repeat right;padding-right:13px;font-weight:normal;}
#navlinks{font-weight:bold;position:absolute;font-size:15px;top:19px;left:355px;list-style-type:none;margin:0;padding:0;letter-spacing: 0.1px;}
#navlinks li{padding:0;float:left;margin-right:10px;}
#navlinks li a{color:#CCCCCC;}
#navlinks li.selected a{color:#FFC757;}
#navlinks li a:hover{color:white;text-decoration:underline;}
#navbarbg{width:100%;position:absolute;left:0;top:0;height:16px;background-color:#7d450b;border-top:34px solid #095609;}
    /*border-bottom:24px solid white;}*/
#navbar{position:relative;margin-left:auto;margin-right:auto;width:960px;height:45px;}
#navbar img{position:absolute;left:1px;}
#nav_searchform .VS-search { width: 195px; position: absolute; right: 0px; top: 11px; }
#footer{clear:both;width:100%;height:60px;color: #777777; font-size: 12px;}
#footer .col {float: left; padding: 0 10px;}
#footer a{color:#777777;font-weight:normal;text-decoration:underline;}
#footer a:hover{color:#1A59C7;}

/* COMMON ELEMENTS */
ul.tile{list-style-type:none;margin:0 0 10px 0;padding:0;}
.tile li{margin-right:20px;margin-bottom:10px;float:left;}
.twoline,.oneline,.threeline{overflow:hidden;}
.twoline{height:40px;}
.oneline{height:20px;}
.threeline{height:60px;}
#tooltip{position:absolute;z-index:3000;border:1px solid #111;background-color:#f9f7cd;padding:5px;max-width:350px;}
#tooltip h3,#tooltip div{margin:0;font-size:12px;color:#222222;font-weight:normal;}
.winner{font-weight:bold;}
.code{font-family:"Courier New",Courier,monospaced;padding:0 2px;white-space:pre;}
.feed{margin-left:3px;padding:0 0 0 19px;background:url("../images/feed-icon-14x14.png") no-repeat 0 50%;}
ul.bulleted{list-style:none outside url('../images/bullet.png');margin:0 0 20px 0;padding:0;}
ul.bulleted.inside{padding-left: 18px;}
.bulleted li{padding:0 0 4px 0; max-width: 600px;}
ul.errorlist{list-style-type:none;background-color:#901019;margin:0 0 10px 0;padding:0;}
ul.errorlist li{padding:4px 10px;color:white;font-weight:bold;}
ul.errorlist a {color:white;text-decoration:underline;}
.tipunderline{border-bottom: 1px dashed #333333;}
.standard td,th{vertical-align:top;padding:2px 0;}
.standard th{text-align:left;font-size:110%;border-bottom:1px dotted #666;}
.standard_form td,th{vertical-align:top;padding:0 20px 10px 0;}
.standard_form th{text-align:left;width:160px;color:#522D07;}
table.standard_form{margin-top:20px;border-spacing:0;}
/* That the TD requires the standard_form class for width is a hack to get the recaptcha widget to work. */
td.standard_form{width:520px;}
.standard_form td{width: 520px;}
.standard_form ul{list-style-type:none;margin:0;padding:0;}
.standard_form li{margin:0 0 10px 0;padding:0 0 0 20px;position:relative;}
.standard_form li input{position:absolute;left:-5px;}
.standard_form input[type=text],.standard_form textarea{width:100%;font-size:15px;font-family:sans-serif;padding:3px 4px;background-color:#EEE;border:1px solid #777;}
.standard_form textarea{height:220px;}
.standard_form input[type=text]:hover,.standard_form textarea:hover{background-color:white;}
#marginalia{width:155px;padding:5px;background-color:#f9f7cd;border:1px dotted #666;color:#444;position:absolute;left: 0;}
.infobox{max-width: 650px;background-color: #f9f7cd;border: 1px dotted #666;color: #222;padding: 15px;margin-bottom: 10px;}
.opennorth_logo {
  display: block;
  width: 160px;
  height: 54px;
  background-image: url(../images/opennorth-160.png);
}
.opennorth_logo:hover {
  background-position: 0 -54px;
}

/* NOTIFICATIONS */
.top-notification { width: 100%; padding-top: 5px; }
.top-notification.warning { background-color: #fff1ae; border-bottom: 1px solid #d8c982; }
.top-notification.success { background-color: #e8fbd4; border-bottom: 1px solid #b4ca91; }
.top-notification.error { background-color: #ffd2c7; border-bottom: 1px solid #be9b93; }
.notification-inner { width: 960px; margin: 0 auto; padding: 8px 0; color: #444444; text-align: center;}
.top-notification .close {float: right; color: #000; font-size: 20px; font-weight: bold; line-height: 0.75; text-shadow: 0 1px 0 rgba(255,255,255,1); opacity: 0.25;}
.top-notification .close:hover {color: #000; text-decoration: none; opacity: 0.4;}
#fixed-notification-container { position: fixed; width: 100%; top: 0; z-index: 20;}

/* PAGINATION */
.pagination{text-align:center;width:640px;}
.pagination .pagelink{display:inline-block;width:22px;height:23px;background:transparent url('../images/pagebuttons.png') no-repeat;}
.pagination span{margin:0 14px;font-weight:bold;color:#333333;position:relative;bottom:5px;}
.pagination.loading span{visibility:hidden;}
.pagination.loading{background:transparent url('../images/loading.gif') no-repeat center center;}
.pagination .pagelink.prev{background-position:0 -69px;}
.pagination .pagelink.prev:hover{background-position:0 -46px;}
.pagination .pagelink.next{background-position:0 -23px;}
.pagination .pagelink.next:hover{background-position:0 0;}
#paginated{clear:both;}
#paginated_wrapped{margin-top:30px;}

/* TAG BOXES */
.tag{padding:2px 3px;background-color:#CCCCCC;}
.voteresult_Y{background-color:#A9FA98;}
.voteresult_N{background-color:#FF9093;}
.partytag_liberal{background-color:#f6a7a5;}
.partytag_bloc{background-color:#a7ecf6;}
.partytag_cpc,.partytag_alliance, .partytag_canadian-alliance, .partytag_conservative, .partytag_progressive-conservative, .partytag_pc {background-color:#acd0f6;}
/* .partytag_progressive-conservative{background-color: #75acff;} */
.partytag_reform, .partytag_green {background-color: #A9FA98;}
.partytag_ndp{background-color:#f6cfa5;}
.activity_news{background-color:#F1F28D;}
.activity_statement{background-color:#ddb8a2;}
.activity_twitter{background-color:#D9A5DF;}
.activity_bill{background-color:#a4aede;}
.activity_committee{background-color:#a4ded2;}
.bill_law{background-color:#A9FA98;}

/* STATEMENTS */
.statement .pol_name{font-weight:bold;}
.statement .tag{font-weight:bold;}
.statement .pol_affil{
padding-left:3px;color:#666666;}
blockquote{/* border-left:3px solid #CCCCCC;*/
margin:0 1em 0 2em;padding:0 0 0 1em;}
.focus blockquote p{max-width:590px;}
.statement{border-top:1px solid #CCCCCC;clear:both;padding-top:19px;width:870px;position:relative;}
.statement.nocontext{width:680px;}
.statement.first{border:none;}
.statement.highlighted{background-color:#fff2b5;}
div.statement div.focus{margin-bottom:10px;min-height:110px;overflow:hidden;width:680px;}
.js .statement .focus {max-height:380px;}
.js .disable_more_links .statement .focus {max-height: none;}
.statement .focus.truncated{max-height:360px;}
.statement .focus.nospeaker{min-height:40px;}
.statement .morelink{position:absolute;width:86px;height:22px;background:transparent url('../images/seemore.png') no-repeat;bottom:22px;left:85px;cursor:pointer;}
.statement .morelink:hover{background-position:0 -22px;}
.statement.nocontext .morelink{left:645px;}
.statement .fadeout{width:640px;height:45px;bottom:10px;left:190px;position:absolute;background:transparent url('../images/tgradient_45.png') repeat-x;}
.statement.nocontext .fadeout{left:0;}
.statement.highlighted .fadeout{background-image:url('../images/tgradient_45_fff2b5.png');}
.statement .focus.displayall{max-height:none;}
.statement .focus.nophoto{min-height:60px;}
.statement .context{font-size:11px;color:#555555;text-align:right;padding-top:2px;}
.headshot_thumb{display:block;float:left;margin:4px 8px 4px 2px;border:2px solid #BBBBBB; width: 67px;}
.statement .focus p {max-width: none;}
.statement .focus div {max-width: 640px;}
.statement p.procedural {color: #666; font-style: italic}

/* POLITICIAN PAGE */
.politician img.headshot{margin-left: auto; margin-right: auto;display:block;border:2px solid #666666;}
div.headshot {position: relative; margin: 4px 0 25px 0;}
div.headshot span{display: block;position: relative;font-size: 10px;color: #888888;text-align: right;right: 38px; top: 2px;}
#activity .tag{font-weight:bold;}
#activity h3{border-bottom:1px dotted #AAAAAA;}
#activity h3 span{position:relative;top:3px;}
#activity .excerpt{display:block;border-left:1px dotted #AAAAAA;margin-left:2em;padding-left:1em;font-style:italic;margin-top:5px;}
#pol_restricted_search{margin: 15px 0;}
#pol_restricted_search .VS-search {width: 640px;}

/* SEARCH */
.search .search_header { padding-bottom: 30px; }
.search .result {margin-bottom: 5px; padding-top: 5px;}
.search .result .highlighted,.result em{background-color:yellow;font-style:normal;}
.search .result div.focus {float: left; width: 620px; margin: 0;}
.search .result div.focus p {max-width: 620px;}
.search .result div.context {float: right; text-align: right; color: #555; font-size: 11px; padding-top: 2px; width: 140px;}
.search .result div.context p {margin-right: 0;}
#main_search_controls {margin-bottom: 10px;}
#page_searchbox{width:400px;font-size:15px;padding:4px;}
#searchbutton{margin-left:12px;}
p.search_options{margin: 5px 0; width: 770px; max-width: 770px; text-align: center; opacity: 0.8;}
p.search_options:hover { opacity: 1.0;}
.VS-search.fake-VS {
    max-width: 640px;
}
.VS-search.fake-VS input {
    width: 100%;
    color: #222222;
    /* These somehow make things work in IE... */
    background-color: white;
    position: relative;
}
.VS-search.fake-VS .VS-search-inner {
    margin-left: 25px;
}

/* HOME */
.home h1 {margin-bottom: 20px;}
#home_searchform .VS-search { width: 450px; float: left;}
#home_searchbutton { float: left; position: relative; top: 1px; margin-left: 10px;}
/*.js #home_searchbutton { display: none;}*/
.heading_context{padding-left: 3px; color: #666666; font-weight: normal; font-weight: 300;}

/* STATEMENT SHARING TOOLS */
#statement-tools{position:absolute;z-index:5;}
#statement-tools img{padding:3px 3px;opacity:0.7;cursor:pointer;width: 16px; height: 16px;}
#statement-tools img:hover{opacity:1.0;}
p.share_link{font-weight:bold;}
p.share_link input{width:300px;padding-left:5px;}

/* COMMITTEES */
.committees .no_evidence a { color: #777777; }

/* API BROWSER */
.api_filters input[type=text] {
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  width: 90%;
}
.api_filters td { padding-right: 18px;}
.api_filters .add,.api_filters .close { color: #555555;}
.api_filters .add {font-size: 20px;}
.api_filters .add:hover, .api_filters .close:hover { color: #1a59c7; text-decoration: none;}
.api_filters .buttonrow .submit { text-align: right; padding-right: 40px;}

/* SLIMBOX */
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#000;cursor:pointer;}
#lbCenter,#lbBottomContainer{position:absolute;z-index:9999;overflow:hidden;background-color:#fff;}
.lbLoading{background:#fff url(../images/slimbox/loading.gif) no-repeat center;}
#lbImage{position:absolute;left:0;top:0;border:10px solid #fff;background-repeat:no-repeat;}
#lbPrevLink,#lbNextLink{display:block;position:absolute;top:0;width:50%;outline:none;}
#lbPrevLink{left:0;}
#lbPrevLink:hover{background:transparent url(../images/slimbox/prevlabel.gif) no-repeat 0 15%;}
#lbNextLink{right:0;}
#lbNextLink:hover{background:transparent url(../images/slimbox/nextlabel.gif) no-repeat 100% 15%;}
#lbBottom{font-family:sans-serif;font-size:10px;color:#666;line-height:1.4em;text-align:left;border:10px solid #fff;border-top-style:none;}
#lbCloseLink{display:block;float:right;width:66px;height:22px;background:transparent url(../images/slimbox/closelabel.gif) no-repeat center;margin:5px 0;outline:none;}
#lbCaption,#lbNumber{margin-right:71px;}
#lbCaption{font-weight:bold;}
