{% load compress %}<!DOCTYPE html>
<html version="HTML+RDFa 1.1">
<head>
<title>{% block pagetitle %}{% endblock %} | openparliament.ca labs</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% if not debug %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3S54K1G77D"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3S54K1G77D');
  </script>
{% endif %}
<style type="text/css">
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#labsbrand {
    background-color: black;
    width: 100%;
    font-size: 12px;
    /* font-family: Georgia; */
    color: #AAAAAA;
    text-indent: 5px;
    padding: 1px 0;
}
#labsbrand a {
    color: #19b3fb;
}
</style>
{% block headextra %}
{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
<div id="labsbrand">A highly scientific project from <a href="http://openparliament.ca/">openparliament.ca</a> labs</div>
{% block content %}
{% endblock content %}
</body></html>
