{% extends "politicians/base.html" %}
{% load ours %}

{% block breadcrumbs %}{{ block.super }}<li>Current MPs</li>{% endblock %}
{% block contentclass %}wide-context-col{% endblock %}
{% block content %}
{% block formerlink %}
<div class="row align-right">
	<div class="main-col"><p><strong>Looking for your MP?</strong> Enter your postal code in the search field at the upper right of the page. <strong>Looking for an ex-Member?</strong> See our list of <a href="{% url "former_mps" %}">former MPs</a> (since 1994).</p></div>
</div>
{% endblock %}

{% regroup object_list by riding.province as province_list %}
{% for province in province_list %}
<div class="row">
	<div class="context-col"><a name="{{ province.grouper }}"></a><h2>{{ province.grouper|expand_province }}</h2></div>
	<div class="columns"><div class="row tile dense small-up-2 medium-up-3 large-up-4">
		{% for member in province.list %}
		<div class="column column-block"><a href="{{ member.politician.get_absolute_url }}" data-tooltip title="{{ member.party.short_name }} for {{ member.riding.dashed_name }}">{{ member.politician }}</a></div>
		{% endfor %}
	</div></div>
</div>
{% endfor %}
{% endblock content %}