{% extends "politicians/base.html" %}
{% load markup thumbnail highlight ours %}
{% block headextra %}
{% if member.current %}
<link rel="alternate" type="application/rss+xml" title="{{ pol.name }}: Statements in the House of Commons" href="{% url politician_statement_feed pol_id=pol.id %}">
<link rel="alternate" type="application/rss+xml" title="{{ pol.name }}: Recent Activity" href="{% url politician_activity_feed pol_id=pol.id %}">
{% endif %}
{% include "pagination.js.inc" %}
<meta name="description" content="Search through {{ pol.name }}'s recent activity, votes, and speeches in the House.">
{% endblock headextra %}
{% block contentclass %}context_4 politician{% endblock %}
{% block pagetitle %}{{ pol }}{% if member.current %}, {{ member.party.short_name }} MP for {{ member.riding.name }}{% endif %}{% endblock %}
{% block breadcrumbs %}{{ block.super }} <a href="{% url parliament.politicians.views.current_mps %}">MPs</a> {% if not member.current %}<a href="{% url parliament.politicians.views.former_mps %}">Former</a> <a  href="{% url parliament.politicians.views.former_mps %}#{{ member.riding.province }}">{% else %}<a href="{% url parliament.politicians.views.current_mps %}#{{ member.riding.province }}">{% endif %}{{ member.riding.province|expand_province }}</a> {{ pol.name}}{% endblock %}

{% block content %}
<div class="focus"><h1>{{ pol }}</h1></div>
    <div class="clear"></div><div class="context">
    {% if pol.headshot %}<div class="headshot"><img class="headshot" src="{% thumbnail pol.headshot 142x230 autocrop %}" alt=""><span>House of Commons photo</span></div>{% endif %}
        {% if member.current %}
        <h3>Track {{ pol.name_given }}</h3>
        <ul class="bulleted"><li><a href="/alerts/signup/?politician={{ pol.id }}">Get e-mail</a> whenever {{ pol|heshe|lower }} speaks in the House</li>
        <li>Subscribe to feeds of <a href="{% url politician_activity_feed pol_id=pol.id %}" class="feed">recent activity</a> (what you see to the right) or <a href="{% url politician_statement_feed pol_id=pol.id %}" class="feed">statements in the House</a></li></ul> {% endif %}   

{% if pol.parlpage %}
<h3>Elsewhere</h3>
<ul class="bulleted">
{% if pol.site %}<li><a href="{{ pol.site }}">{{ pol|hisher }} site</a></li>{% endif %}
<li>On the <a href="{{ pol.parlpage }}">Parliament</a> site</li>
{% if pol.info.twitter %}<li><a href="http://twitter.com/{{ pol.info.twitter }}">Twitter</a> (and Twitter messages <a href="http://twitter.com/search?q=%40{{ pol.info.twitter }}">to {{ pol|himher|lower }}</a>)</li>{% endif %}
</ul>{% endif %}
        </div>
<div class="focus">
{% if member %}<h2>{% if not member.current %}Last in Parliament {{ member.end_date|date:"F Y"}}, as {% endif %}<span class="trag prartytag_{{ member.party.slug|lower }}">{{ member.party.short_name }}</span> MP for {{ member.riding }}</h2>{% endif %}

{% with pol.latest_candidate as candidate %}{% if candidate %}
<p><strong>{% if candidate.elected %}Won{% else %}Lost{% endif %}</strong> {{ pol|hisher|lower }} last election, {% if candidate.election.byelection %}a byelection {% endif %}in {{ candidate.election.date|date:"Y" }}, with {{ candidate.votetotal }} votes.</p>
{% endif %}{% endwith %}

{% if not show_statements %}
<p><a href="?page=1" class="pagelink show_paginated_div">Browse {{ pol|hisher|lower }} statements in the House of Commons</a></p>

<div id="activity">
{% for activity in activities %}
{% with activity.date|time_since as since %}{% ifchanged since %}<h3><span>{{ since }}</span></h3>{% endifchanged %}{% endwith %}
{{ activity.payload|safe }}
{% endfor %}
</div>

<div id="paginated_wrapped" style="display: none">
    <h2>Statements in the House</h2><div class="spacer"></div>
    <div id="paginated"></div></div>
{% else %}{# else show_statements #}
<h2>Statements in the House</h2>
<div id="paginated_wrapped"><div id="paginated">
    {% include "hansards/statement_page_politician_view.inc" %}
</div></div>
{% endif %}
<div class="clear"></div>
</div>
{% endblock %}
{% block footerextra %}News articles via Google News.{% endblock %}
