{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Server Error' %}{% endblock %}
{% block pageheading %}{% trans 'Oh dear!' %}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% trans 'Blinking lights, shooting flames' %}
{% endblock %}
{% block content %}
    <div class="focus"><p>{% blocktrans %}There was a software error on our
    server, and this page couldn't be generated. The error has been logged,
    which&mdash;fingers crossed!&mdash;means it should be fixed soon enough.
    In the meantime, try using the links and search box above to get back to
    less erroneous pages. (Sorry!){% endblocktrans %}</p></div>
{% endblock %}
