{% load django_static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block pagetitle %}{% if pagetitle %}{{ pagetitle }}{% else %}{{ title }}{% endif %}{% endblock pagetitle %} | openparliament.ca</title>
<link rel="icon" type="image/png" href="{{ MEDIA_URL }}images/favicon.png">
<link rel="stylesheet" type="text/css" href="{% slimfile "css/openparliament.css" %}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
<script type="text/javascript" src="{% staticfile "js/openparliament.js" %}"></script>
{% block headextra %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10168543-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="{% block bodyclass %}{% endblock %}">
<div id="navbarbg"></div><div id="navbar"><a href="/"><img src="{% staticfile "images/logotype_bar.png" %}" alt="openparliament.ca"></a>
    <ul id="navlinks"><li {% block navlinks_mps %}{% endblock %}><a href="{% url parliament.politicians.views.current_mps %}">MPs</a></li><li {% block navlinks_bills %}{% endblock %}><a href="{% url parliament.bills.views.index %}">Bills</a></li><li {% block navlinks_debates %}{% endblock %}><a href="{% url parliament.hansards.views.index %}">Debates</a></li><li {% block navlinks_about %}{% endblock %}><a href="/about/">About</a></li><li {% block navlinks_labs %}{% endblock %}><a href="/labs/">Labs</a></li></ul>
    <div id="breadcrumbs">{% block breadcrumbs_all %}<a href="/">Home</a> {% block breadcrumbs %}{% endblock breadcrumbs %}{% endblock breadcrumbs_all %}</div>
    <form action="{% url search %}" method="GET" id="nav_searchform"><div><input type="text" class="tip" title="By postal code, name, or keyword." id="nav_searchbox" name="q"><a id="nav_searchbutton"></a></div></form>
    </div>
<div id="content_wrap"><div id="content" class="{% block contentclass %}{% endblock %}">
{% block pageheading_override %}<div class="focus pageheader"><h1>{% block pageheading %}{{ title }}{% endblock pageheading %}</h1></div>{% endblock pageheading_override %}
{% block content %}

{% endblock content %}
</div><div class="clear"></div></div>
<div id="footer">{% block footer %}<p><a href="/about/">Only somewhat copyright</a> 2010 openparliament.ca. {% block footerextra %}{% endblock %} Questions, suggestions, complaints, epic poetry? <a class="maillink">E-mail</a>, or our <a href="http://openparliament.uservoice.com/" class="feedback">feedback forum</a>.</p>{% endblock footer %}</div>
<!--[if IE 6]>
<script type="text/javascript">var IE6UPDATE_OPTIONS = {
    icons_path: "{{ MEDIA_URL }}ie6update/images/"
};</script>
<script type="text/javascript" src="{{ MEDIA_URL }}ie6update/ie6update.js"></script>
<![endif]-->
<script type="text/javascript">
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
</body>
</html>
