{% load compress %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block pagetitle %}{% if pagetitle %}{{ pagetitle }}{% else %}{{ title }}{% endif %}{% endblock pagetitle %} | openparliament.ca</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/openparliament.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/icons.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/visualsearch.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-buttons.css">
{% endcompress %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery.min.js"%3E%3C/script%3E'))</script>

{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.slimbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.tooltip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/placeholder-polyfill.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/history.html4.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/history.adapter.jquery.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/pagination.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/statementbrowser.js"></script>

{% endcompress %}
{% block headextra %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10168543-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="nojs {% block bodyclass %}{% endblock %}">
<div id="navbarbg"></div>
<div id="navbar">
	<a href="/"><img src="{{ STATIC_URL }}images/logotype_bar_v2.png" alt="openparliament.ca"></a>
    <ul id="navlinks">
		<li {% block navlinks_mps %}{% endblock %}><a href="{% url parliament.politicians.views.current_mps %}">MPs</a></li>
		<li {% block navlinks_bills %}{% endblock %}><a href="{% url parliament.bills.views.index %}">Bills</a></li>
		<li {% block navlinks_debates %}{% endblock %}><a href="{% url parliament.hansards.views.index %}">Debates</a></li>
		<li {% block navlinks_committees %}{% endblock %}><a href="{% url parliament.committees.views.committee_list %}">Committees</a></li>
		<li {% block navlinks_about %}{% endblock %}><a href="/about/">About</a></li>
		<li {% block navlinks_labs %}{% endblock %}><a href="/labs/">Labs</a></li>
	</ul>
	{% block navbar_search %}<form action="{% url search %}" method="GET" id="nav_searchform">{% include "search/searchbox.inc" with placeholder="Search" %}</form>{% endblock navbar_search %}
</div>
{% block notifications %}{# e.g. <div class="top-notification success"><div class="notification-inner">Hello!</div></div> #}{% endblock %}
<div id="content_wrap"><div id="content" class="{% block contentclass %}{% endblock %}">
	<div id="breadcrumbs">{% block breadcrumbs_all %}<a href="/">Home</a> {% block breadcrumbs %}{% endblock breadcrumbs %}{% endblock breadcrumbs_all %}</div>
	{% block pageheading_override %}<div class="focus pageheader"><h1>{% block pageheading %}{{ title }}{% endblock pageheading %}</h1></div><div class="clear"></div>{% endblock pageheading_override %}
{% block content %}

{% endblock content %}
</div><div class="clear"></div></div>
{% block javascript %}{% endblock %}
<div id="footer">{% block footer %}<p><strong>This is not a government site.</strong> Not even sort of.{% block footerextra %}{% endblock %}<br>Questions, suggestions, complaints, epic poetry? <a class="maillink">E-mail</a>, or our <a href="http://openparliament.uservoice.com/" class="feedback">feedback forum</a>.</p>{% endblock footer %}</div>
<!--[if IE 6]>
<script type="text/javascript">var IE6UPDATE_OPTIONS = {
    icons_path: "{{ STATIC_URL }}ie6update/images/"
};</script>
<script type="text/javascript" src="{{ STATIC_URL }}ie6update/ie6update.js"></script>
<![endif]--> <!--[if IE 7]><style type="text/css">.VS-search.fake-VS input { left: -25px; }</style><![endif]-->
{% comment %}<script type="text/javascript">
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>{% endcomment %}
</body>
</html>
