{% load compress %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block pagetitle %}{% if pagetitle %}{{ pagetitle }}{% else %}{{ title }}{% endif %}{% endblock pagetitle %} | openparliament.ca</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/openparliament.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/icons.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/visualsearch.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-buttons.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/persona-buttons.css">
{% endcompress %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery.min.js"%3E%3C/script%3E'))</script>

<script type="text/javascript">
window.OP = {
  'STATIC_URL': "{{ STATIC_URL|escapejs }}"
};
</script>

{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/raven.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.slimbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.tooltip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.expander.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/placeholder-polyfill.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/history.html4.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/history.adapter.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/underscore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/lazyload.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/pagination.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/statementbrowser.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/persona.js"></script>

{% endcompress %}
{% block headextra %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10168543-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="nojs {% block bodyclass %}{% endblock %}">
<div id="navbarbg"></div>
<div id="navbar">
	<a href="/"><img src="{{ STATIC_URL }}images/logotype_bar_v2.png" alt="openparliament.ca"></a>
    <ul id="navlinks">
		<li {% block navlinks_mps %}{% endblock %}><a href="{% url parliament.politicians.views.current_mps %}">MPs</a></li>
		<li {% block navlinks_bills %}{% endblock %}><a href="{% url parliament.bills.views.index %}">Bills</a></li>
		<li {% block navlinks_debates %}{% endblock %}><a href="{% url parliament.hansards.views.index %}">Debates</a></li>
		<li {% block navlinks_committees %}{% endblock %}><a href="{% url parliament.committees.views.committee_list %}">Committees</a></li>
		<li {% block navlinks_about %}{% endblock %}><a href="/about/">About</a></li>
		<li {% block navlinks_labs %}{% endblock %}><a href="/labs/">Labs</a></li>
	</ul>
	{% block navbar_search %}<form action="{% url search %}" method="GET" id="nav_searchform">{% include "search/searchbox.inc" with placeholder="Search" %}</form>{% endblock navbar_search %}
</div>
<div id="notifications">{% block notifications %}{# e.g. <div class="top-notification success"><div class="notification-inner">Hello!</div></div> #}{% endblock %}</div>
<div id="content_wrap"><div id="content" class="{% block contentclass %}{% endblock %}" {% block contentdiv %}{% endblock %}>
	<div id="breadcrumbs">{% block breadcrumbs_all %}<a href="/">Home</a> {% block breadcrumbs %}{% endblock breadcrumbs %}{% endblock breadcrumbs_all %}</div>
	{% block pageheading_override %}<div class="focus pageheader"><h1>{% block pageheading %}{{ title }}{% endblock pageheading %}</h1></div><div class="clear"></div>{% endblock pageheading_override %}
{% block content %}

{% endblock content %}
</div><div class="clear"></div></div>
{% block javascript %}{% endblock %}
<div id="footer"><div class="footer_content">{% block footer %}
  <div class="col three" style="padding-left: 0; padding-right: 20px"><div style="text-align: center">supported by<a class="opennorth_logo" href="http://www.opennorth.ca/"></a></div></div>

<div class="col four">{% block footer_text %}<p><strong>This is not a government site.</strong><br> Not even sort of.</p>{% endblock footer_text %}</div>
<div class="col three"><strong>Words</strong><br>
<a href="{% url debates %}">Debates</a> (Hansard)<br>
<a href="{% url committee_list %}">Committees</a><br>
<a href="{% url search %}">Search</a><br>
<a href="{% url alerts_list %}">Alerts</a>
</div>
<div class="col three"><strong>Laws</strong><br>
<a href="{% url bills %}">Bills</a><br>
<a href="{% url votes %}">Votes</a></div>
<div class="col three"><strong>More</strong><br>
<a href="http://openparliament.uservoice.com/">Feedback</a> / <a class="maillink">Contact</a><br>
<a href="/labs/haiku/">Haiku</a><br>
<a href="/api/">Developers</a> {% if request.apibrowser_url %}(<a href="{{ request.apibrowser_url }}" rel="nofollow">JSON</a>){% endif %}
</div>
  {% endblock footer %}<div class="clear"></div></div></div>
<!--[if IE 6]>
<script type="text/javascript">var IE6UPDATE_OPTIONS = {
    icons_path: "{{ STATIC_URL }}ie6update/images/"
};</script>
<script type="text/javascript" src="{{ STATIC_URL }}ie6update/ie6update.js"></script>
<![endif]--> <!--[if IE 7]><script type="text/javascript" src="{{ STATIC_URL }}js/libs/json2.js"></script>
<style type="text/css">.VS-search.fake-VS input { left: -25px; }</style><![endif]-->
{% comment %}<script type="text/javascript">
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>{% endcomment %}
</body>
</html>
