{% extends "base.html" %}
{% load markup %}

{% block pagetitle %}Keeping tabs on Canada’s Parliament{% endblock %}
{% block breadcrumbs_all %}{% endblock %}
{% block pageheading %}Keep tabs on Parliament.{% endblock %}
{% block content %}
<div class="focus">
    <form action="/search/" id="home_searchform" method="GET"><div><input type="text" id="home_searchbox" name="q"><input type="submit" value="Search" class="button" id="searchbutton"></div></form></div>
    <div class="clear"></div><div class="context"><h2>What we’re doing</h2></div>
    <div class="focus">
    <p>Info on what your representatives are doing in Ottawa can be hard to find and use. <strong>We’re trying to make it easy.</strong></p>
    <p>Browse <a href="{% url parliament.politicians.views.current_mps %}">MPs</a>, or find someone quickly by entering
        a name or postal code above. See what your representatives are <a href="{% url parliament.hansards.views.index %}">saying</a>, and what <a href="{% url parliament.bills.views.index %}">laws</a> they’re proposing. Poke around.</p></div>
        <div class="clear"></div><div class="context"><h2>What they’re talking about</h2></div>
        <div class="focus"><p>The latest House transcript is from <strong>{{ latest_hansard.date|date:"F jS"}}</strong>{% if latest_hansard.wordoftheday %}, when the <span class="tip tipunderline" title="Most frequently spoken word, excluding a fixed list of extra-boring words (like 'the', or 'government').">word of the day</span> was {% if latest_hansard.wordcloud %}<a href="{{ latest_hansard.wordcloud.url }}" rel="lightbox">{{ latest_hansard.wordoftheday }}</a>{% else %}{{ latest_hansard.wordoftheday}}{% endif %}{% endif %}. These are the topics that were discussed.</p><div class="spacer"></div><ul class="tile clearafter">
        {% for topic in latest_hansard.topics_with_qp %}<li class="four oneline overflowtip"><a href="{% url parliament.hansards.views.hansard hansard_id=latest_hansard.id statement_seq=topic.1 %}#hl">{{ topic.0 }}</a></li>{% endfor %}
        </ul><div class="clear"></div></div>
<div class="clear"></div><div class="context"><h2>What’s new around here</h2></div>
<div class="focus"><p>Learn about site updates on our <a href="{% url sitenews_feed %}" class="feed">site news feed</a>, or follow <a href="http://twitter.com/openparlca">@openparlca</a> on Twitter.</p>{% for item in sitenews %}
<h3>{{ item.title }} <span class="heading_context">{{ item.date|date:"F jS"}}</span></h3>
{{ item.text|markdown }}{% endfor %}</div>
{% endblock %}
{% block headextra %}
<script type="text/javascript">
$(function() {
   var search_prompt = "Enter a postal code, name, or phrase";
   var $searchbox = $('#home_searchbox');
   $searchbox.val(search_prompt); 
   $searchbox.bind('focus', function() {
       $searchbox.addClass('active'); 
       if (this.value == search_prompt) {
           this.value = '';
       }
   }).bind('blur', function () {
       $searchbox.removeClass('active');
       if (this.value == '') {
           this.value = search_prompt;
       }
   });
   $('#home_searchform').bind('submit', function (e) {
       if ($searchbox.val() == search_prompt) {
           e.preventDefault();
           alert('To search, enter a postal code, name, or phrase into the text box.');
       }
   });
});
</script>
<meta name="description" content="Info on what your representatives are doing in Ottawa can be hard to find and use. We're trying to make it easy.">
<link rel="alternate" type="application/rss+xml" title="openparliament.ca: Site news" href="{% url sitenews_feed %}">
{% endblock %}