{% spaceless %}
<div class="focus pagination-container">
<div class="long-paginator pagination">
  {% if has_previous or has_next %}
  {% if has_previous %}
    <a class="prev" href="{% if get_params %}?{{ get_params }}&amp;{% else %}?{% endif %}page={{ previous }}">&laquo; Prev</a>
  {% endif %}
  {% if not in_leading_range %}
    {% for p in pages_outside_trailing_range %}
      <a href="{% if get_params %}?{{ get_params }}&amp;{% else %}?{% endif %}page={{ p }}">{{ p }}</a>
    {% endfor %}
    <a class="ellipsis">...</a>
  {% endif %}
  {% for p in page_range %}
    {% if p == page %}
      <a class="active">{{ p }}</a>
    {% else %}
      <a href="{% if get_params %}?{{ get_params }}&amp;{% else %}?{% endif %}page={{ p }}">{{ p }}</a>
    {% endif %}
  {% endfor %}
  {% if not in_trailing_range %}
    <a class="ellipsis">...</a>
    {% for p in pages_outside_leading_range reversed %}
      <a href="{% if get_params %}?{{ get_params }}&amp;{% else %}?{% endif %}page={{ p }}">{{ p }}</a>
    {% endfor %}
  {% endif %}
  {% if allow_single_page %}
    <a href="?{% if get_params %}{{ get_params }}&amp;{% endif %}singlepage=1">All</a>
  {% endif %}
  {% if has_next %}
    <a class="next" href="{% if get_params %}?{{ get_params }}&amp;{% else %}?{% endif %}page={{ next }}">Next &raquo;</a>
  {% endif %}
  {% endif %}
</div>
</div>
{% endspaceless %}