{% extends "base.html" %}
{% load i18n %}
{% block pagetitle %}{% trans "Memcached status" %}{% endblock %}
{% block pageheading %}{% trans "Memcached status" %}{% endblock %}
{% block content %}

<div class="focus">
<ul>
<li>{% trans "memory usage" %}:
    {{ stats.bytes|filesizeformat }}
<li>{% trans "keys in cache" %}:
    {% blocktrans %}
      {{ stats.curr_items }} of {{ stats.total_items }}
    {% endblocktrans %}
<li>{% trans "cache hits" %}:
    {% blocktrans %}
      {{ stats.get_hits }} of {{ stats.cmd_get }}
    {% endblocktrans %}:
    <b>{{ hit_rate }}%</b>
<li>{% trans "cache traffic" %}:
    {% blocktrans %}
      {{ stats.bytes_read|filesizeformat }} in,
      {{ stats.bytes_written|filesizeformat }} out
    {% endblocktrans %}
<li>{% trans "uptime" %}: {{ stats.uptime }}
</ul>
</div>
{% endblock %}