<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>openparliament.ca</title>
<style type="text/css">
body {
    background-color: #167e20;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
p {
    color: #DDDDDD;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}
a {
    color: #419DC7;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10168543-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<img src="{{ MEDIA_URL }}images/logotype.png">
<p><strong>Nothing yet.</strong> But here are a <a href="http://www.michaelmulley.com/p/spark/">couple</a> of <a href="http://www.michaelmulley.com/s/triplespeak/">toys</a>. And <a href="mailto:michael@michaelmulley.com">e-mail me</a> if you're interested!</p>
</body>
</html>
