{% extends "base.html" %}
{% load thumbnail compress %}
{% block breadcrumbs %}{{ block.super }}Search{% endblock %}
{% block pagetitle %}Search: {{ query }}{% endblock %}
{% block pageheading_override %}{% endblock %}
{% block content %}
<div class="focus" id="main_search_controls">
	<noscript>
		<form method="get" action="."><div>
			<input type="text" id="page_searchbox" name="q" value="{{ query }}"><input type="submit" class="btn" id="searchbutton" value="Search">
		</div></form>
	</noscript>
	<div id="visual_search"></div>
	<p class="search_options jsonly">Refine by <a data-add-facet="MP" href="#">MP</a>, <a data-add-facet="Party" href="#">party</a>, <a data-add-facet="Committee" href="#">committee</a>, <a data-add-facet="Province" href="#">province</a>, or <a data-add-facet="Type" href="#">result type</a>.</p>
    </div>
    {% if not results.hits %}
		<div id="paginated">
       {% if query %}<div class="focus"><h3>No results found.</h3></div>{% endif %}
		</div>
	{% else %}
        <div id="paginated">
{% include "search/search_results.inc" %}
        </div>
	{% endif %}
{% endblock %}
{% block headextra %}
	{% compress js %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/pagination.js"></script>
	{% endcompress %}

	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-aristo.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datefilter.css">
	{% endcompress %}

	{% include "search/visualsearch-jsdeps.html.inc" %}
	<script type="text/javascript">
	$(function() {
		OP.search.init("{{ query|escapejs }}");
	});
	</script>
{% endblock headextra %}
{% block bodyclass %}search{% endblock %}
{% block navbar_search %}{# Suppress top-of-the-page search box #}{% endblock %}
