{% extends "base.html" %}
{% load static compress %}
{% block breadcrumbs %}{{ block.super }}Search{% endblock %}
{% block pagetitle %}Search: {{ query }}{% endblock %}
{% block pageheading_override %}{% endblock %}
{% block content %}
<div class="row align-right">
	<div class="main-col" id="main_search_controls">
		<noscript>
			<form method="get" action="."><div>
				<input type="text" id="page_searchbox" name="q" value="{{ query }}"><input type="submit" class="btn" id="searchbutton" value="Search">
			</div></form>
		</noscript>
		<div id="visual_search"></div>
		<p class="search_options jsonly">Refine by <a data-add-facet="MP">MP</a>, <a data-add-facet="Party">party</a>, <a data-add-facet="Committee">committee</a>, <a data-add-facet="Province">province</a>, or <a data-add-facet="Type">result type</a>.</p>
	</div>
</div>
<div class="row">
	<div class="context-col">
		<ul class="accordion" id="search_leftbar_toggler"><li class="accordion-item"><a class="accordion-title">Tools</a></li></ul>
		<div id="search_leftbar">
			<div id="add_alert" style="display:none;padding-bottom: 20px;">
				<p><strong>Get email</strong> when new items match this search:</p> 
				<div style="text-align: center"><button class="button" type="button">Create an alert</button></div>
			</div>
		</div>
	</div>
	<div class="main-col" id="search_content">
	        <div id="paginated">
	{% include "search/search_results.inc" %}
	        </div>
	</div>
</div>
{% endblock %}
{% block headextra %}
	{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/visualsearch-datauri.css' %}">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/vendor/jquery-ui.structure.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/vendor/jquery-ui.theme.css">
	{% endcompress %}

{% endblock headextra %}
{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/version.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/widget.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/position.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/keycode.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/unique-id.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/safe-active-element.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/widgets/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/widgets/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/widgets/mouse.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/ui/widgets/slider.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/backbone/backbone.js' %}"></script>

<script type="text/javascript" src="{% static 'js/vendor/visualsearch.js' %}"></script>

<script type="text/javascript" src="{% static 'js/search/search.js' %}"></script>
<script type="text/javascript" src="{% static 'js/search/searchdata.js' %}"></script>
<script type="text/javascript" src="{% static 'js/search/datefilter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/search/facets.js' %}"></script>

{% endcompress %}
<script type="text/javascript">
	$(function() {
		OP.search.init("{{ query|escapejs }}");
	});
	</script>
{% endblock %}
{% block bodyclass %}search{% endblock %}
{# {% block contentclass %}wide-context-col{% endblock %} #}
{% block navbar_search %}{# Suppress top-of-the-page search box #}{% endblock %}
{% block notifications %}{# {% include "beggary.inc" %} #}{% endblock %}
{% block breadcrumbs_all %}{% endblock %}
