{% extends "base.html" %}
{% load thumbnail compress %}
{% block breadcrumbs %}{{ block.super }} <a href="{% url parliament.search.views.search %}">Search</a> {{ query }}{% endblock %}
{% block pagetitle %}Search: {{ query }}{% endblock %}
{% block pageheading_override %}{% endblock %}
{% block content %}
<div class="focus">
    <form method="get" action="."><div>
        <input type="text" id="page_searchbox" name="q" value="{{ query }}"><input type="submit" class="button" id="searchbutton" value="Search">
    </div></form>
    {% if results.hits > 5 %}<p class="search_options">{% if 'date' in sort %}<a href="?q={{ query|urlencode }}">Sort by relevance</a>{% else %}Sorted by relevance{% endif %} | {% if 'date' in sort %}Sorted{% else %}Sort{% endif %} by date: {% if 'desc' in sort %}newest first{% else %}<a href="?q={{ query|urlencode }}&amp;sort=date+desc">newest first</a>{% endif %} / {% if 'asc' in sort %}oldest first{% else %}<a href="?q={{ query|urlencode }}&amp;sort=date+asc">oldest first</a>{% endif %}</p>{% endif %}
    </div>
        {% if not results.hits %}
       {% if query %}<div class="focus">
        <h3>No results found.</h3></div>{% endif %}
        {% else %}
        <div id="paginated">
{% include "search/search_results.inc" %}
        </div>
        {% endif %}
{% endblock %}
{% block headextra %}
	{% compress js %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/pagination.js"></script>
	{% endcompress %}
{% if results.hits %}<link rel="alternate" type="application/rss+xml" title="Watch new results for &quot;{{ query }}&quot;" href="{% url search_feed %}?q={{ query|urlencode }}">{% endif %}
{% endblock headextra %}
{% block bodyclass %}search{% endblock %}
