{% extends "bills/base.html" %}
{% load ours %}
{% block breadcrumbs %}<li>Bills</li>{% endblock %}
{% block headextra %}<link rel="alternate" type="application/rss+xml" title="New bills in the House" href="{% url "bill_list_feed"  %}">{% endblock headextra %}
{% block content %}

{% if votes %}
<div class="row">
	<div class="context-col"><h2>{% if session_list %}Recent votes{% else %}Votes{% endif %}</h2></div>
	<div class="columns"><div class="row tile small-up-1 medium-up-2 large-up-3">{% for vote in votes %}<div class="column column-block threeline overflowtip"><a href="{{ vote.get_absolute_url }}">#{{ vote.number }}</a> <span class="tag voteresult_{{ vote.result }}">{{ vote.get_result_display }}</span> {% if vote.bill %}<a href="{% url "bill" session_id=session.id bill_number=vote.bill.number %}">{{ vote.bill.number }}</a> {% endif %}{{ vote.description }}</div>{% endfor %}</div>
	{% if votes.0.number > 6 %}<p>See <a href="{% url "votes_for_session" session_id=session.id %}">all {{ votes.0.number }} votes</a> for this session.</p>{% endif %}</div>
</div>
{% endif %}

{% block recently_active %}{% if recently_debated %}
<div class="row">
<div class="context-col"><h2>Recently debated bills</h2></div>
<div class="columns"><div class="row tile small-up-1 medium-up-2">
	{# EDITING HERE? Copy changes to the same block below. #}
	{% for bill in recently_debated %}<div class="column column-block twoline overflowtip" {% if bill.short_title %}data-tooltip title="{{ bill.name|strip_act }}"{% endif %}><a href="{% url "bill" session_id=session.id bill_number=bill.number %}">{{ bill.number }}</a> {% if bill.law %}<span class="tag bill_law">Law</span> {% elif bill.dead and not session.end %}<span class="tag bill_dead">Dead</span> {% endif %}{% if bill.short_title %}{{ bill.short_title|strip_act }}{% else %}{{ bill.name|strip_act }}{% endif %}</div>{% endfor %}
</div></div>
</div>
{% endif %}{% endblock %}

{% regroup object_list by privatemember as pmem %}
{% for pm in pmem %}

{% if forloop.counter == 2 %}{% block sessions_list %}
<div class="row align-right">
	<div class="main-col"><p>Bills are separated according to the parliamentary session during which they were introduced. The bills above have been introduced (or reintroduced) in the current session.</p></div>
</div>

<div class="row">
	<div class="context-col"><h2>Sessions</h2></div>
	<div class="columns"><div class="row tile small-up-1 medium-up-2">
	    {% for session in session_list %}{% if not forloop.first %}
	<div class="column column-block oneline"><a href="{% url "bills_for_session" session_id=session.id %}" data-tooltip title="{{ session }}">{{ session.id }} ({{ session.start|date:"F Y" }}&ndash;{{session.end|date:"F Y"}})</a></div>{% endif %}{% endfor %}
	</div></div>
</div>
{% endblock %}{% endif %}

{% if pm.grouper %}<div class="row align-right"><div class="main-col"><p>Private members' bills are introduced by MPs who are not cabinet ministers&mdash;opposition members, or sometimes government backbenchers. They rarely become law.</p></div></div>{% endif %}

<div class="row">
	<div class="context-col"><h2>{% if pm.grouper %}Private members' bills{% else %}Government bills{% endif %}</h2></div>
	<div class="columns"><div class="row tile small-up-1 medium-up-2">
    {# EDITING HERE? Copy changes to the same block above. #}
    {% for bill in pm.list %}{% if bill.number_only != 1 %}<div class="column column-block twoline overflowtip" {% if bill.short_title %}data-tooltip title="{{ bill.name|strip_act }}"{% endif %}><a href="{% url "bill" session_id=session.id bill_number=bill.number %}">{{ bill.number }}</a> {% if bill.law %}<span class="tag bill_law">Law</span> {% elif bill.dead and not session.end %}<span class="tag bill_dead">Dead</span> {% elif bill.dormant and not session.end %}<!-- <span class="tag bill_dormant" title="No change in status for five months">Dormant</span> -->{% endif %}{% if bill.privatemember and bill.sponsor_member %}<span class="tag partytag_{{ bill.sponsor_member.party.slug|lower }}">{{ bill.sponsor_member.party.short_name }}</span> {% endif %}{% if bill.short_title %}{{ bill.short_title|strip_act }}{% else %}{{ bill.name|strip_act }}{% endif %}</div>{% endif %}{% endfor %}
    </div></div>
</div>
{% endfor %}
{% endblock %}