{% extends "bills/base.html" %}
{% load markup %}

{% block contentclass %}context_3{% endblock %}
{% block pagetitle %}Vote #{{ vote.number }} on {{ vote.date|date:"F jS, Y" }}{% endblock %}
{% block pageheading %}Vote #{{ vote.number }} on {{ vote.date|date:"F jS, Y" }}{% endblock %}
{% block breadcrumbs %}{{ block.super }}<a href="{% url "parliament.bills.views.index" %}">Bills</a>
<a href="{% url "parliament.bills.views.bills_for_session" session_id=vote.session.id %}">{{ vote.session }}</a>
<a href="{% url "parliament.bills.views.votes_for_session" session_id=vote.session.id %}">Votes</a> #{{ vote.number }}{% endblock %}

{% block content %}
{% if vote.bill %}<div class="clear"></div><div class="context"><h2>Bill</h2></div>
<div class="focus"><p><a href="{{ vote.bill.get_absolute_url }}">{{ vote.bill.number }}</a> {{ vote.bill.name }}</p></div>{% endif %}
<div class="clear"></div><div class="context"><h2>Vote topic</h2></div>
<div class="focus">{{ vote.description|markdown }}
    {% if vote.context_statement %}<p><a href="{{ vote.context_statement.get_absolute_url }}">See context in the Debates.</a></p>{% endif %}
</div>
<div class="clear"></div><div class="context"><h2>Result</h2></div>
<div class="focus"><ul class="tile">
<li class="four oneline{% if vote.result == 'Y' %} winner{% endif %}"><span class="tag voteresult_Y">Yes</span> {{ vote.yea_total }}</li>
<li class="four oneline{% if vote.result == 'N' %} winner{% endif %}"><span class="tag voteresult_N">No</span> {{ vote.nay_total }}</li>
<li class="four oneline">{% if vote.paired_total %}<span class="tag voteresult_P tip" title="Paired means &quot;I would vote with my party. But instead I'll vote neither yea nor nay. It's part of a deal to balance out the missing vote of an absent member from an opposing party&mdash;the member I'm 'paired' with.&quot;"><span class="tipunderline">Paired</span></span> {{ vote.paired_total }}{% endif %} </li>

<li class="four">{% for party in parties_y %}<span class="tag partytag_{{ party.slug|lower }}">{{ party.short_name }}</span> {% endfor %}</li>
<li class="four">{% for party in parties_n %}<span class="tag partytag_{{ party.slug|lower }}">{{ party.short_name }}</span> {% endfor %}</li>
</ul><div class="clear"></div></div>
{% regroup membervotes by member.party.short_name as parties %}
{% for party in parties %}
<div class="clear"></div><div class="context"><h2>{{ party.grouper }}</h2></div>
<div class="focus"><ul class="tile">
{% for membervote in party.list %}<li class="four oneline overflowtip"><span class="tag voteresult_{{ membervote.vote }}">{{ membervote.get_vote_display }}</span> <a href="{{ membervote.member.politician.get_absolute_url }}">{{ membervote.member.politician.name }}</a></li>{% endfor %}
</ul><div class="clear"></div></div>
{% endfor %}
{% endblock content %}