{% extends "bills/base.html" %}
{% load markup %}

{% block pagetitle %}Vote #{{ vote.number }} on {{ vote.date|date:"F jS, Y" }}{% endblock %}
{% block pageheading %}Vote #{{ vote.number }} on {{ vote.date|date:"F jS, Y" }}{% endblock %}
{% block breadcrumbs %}{{ block.super }}<li><a href="{% url "bills" %}">Bills</a></li>
<li><a href="{% url "bills_for_session" session_id=vote.session.id %}">{{ vote.session }}</a></li>
<li><a href="{% url "votes_for_session" session_id=vote.session.id %}">Votes</a></li> <li>#{{ vote.number }}</li>{% endblock %}

{% block content %}
{% if vote.bill %}
<div class="row">
	<div class="context-col"><h2>Bill</h2></div>
	<div class="main-col"><p><a href="{{ vote.bill.get_absolute_url }}">{{ vote.bill.number }}</a> {{ vote.bill.name }}</p></div>
</div>
{% endif %}
<div class="row">
	<div class="context-col"><h2>Vote topic</h2></div>
	<div class="main-col">{{ vote.description|markdown }}
    {% if vote.context_statement %}<p><a href="{{ vote.context_statement.get_absolute_url }}">See context in the Debates.</a></p>{% endif %}
	</div>
</div>

<div class="row">
	<div class="context-col"><h2>Result</h2></div>
	<div class="columns"><div class="row tile small-up-2 medium-up-3">
		<div class="column column-block {% if vote.result == 'Y' %} winner{% endif %}" style="line-height: 2">
			<span class="tag voteresult_Y">Yes</span> {{ vote.yea_total }}<br>
			{% for party in parties_y %}<span class="tag partytag_{{ party.slug|lower }}">{{ party.short_name }}</span> {% endfor %}
		</div>
		<div class="column column-block{% if vote.result == 'N' %} winner{% endif %}" style="line-height: 2">
			<span class="tag voteresult_N">No</span> {{ vote.nay_total }}<br>
			{% for party in parties_n %}<span class="tag partytag_{{ party.slug|lower }}">{{ party.short_name }}</span> {% endfor %}
		</div>
		<div class="column column-block oneline">{% if vote.paired_total %}<span class="tag voteresult_P" data-tooltip title="Paired means &quot;I would vote with my party. But instead I'll vote neither yea nor nay. It's part of a deal to balance out the missing vote of an absent member from an opposing party&mdash;the member I'm 'paired' with.&quot;"><span class="tipunderline">Paired</span></span> {{ vote.paired_total }}{% endif %} </div>
	</div></div>
</div>

{% regroup membervotes by member.party.short_name as parties %}
{% for party in parties %}
<div class="row">
	<div class="context-col"><h2>{{ party.grouper }}</h2></div>
	<div class="columns"><div class="row tile dense small-up-1 medium-up-2 large-up-3">
		{% for membervote in party.list %}<div class="column column-block oneline overflowtip"><span class="tag voteresult_{{ membervote.vote }}">{{ membervote.get_vote_display }}</span> <a href="{{ membervote.member.politician.get_absolute_url }}">{{ membervote.member.politician.name }}</a></div>{% endfor %}
	</div></div>
</div>
{% endfor %}
{% endblock content %}