{% extends "hansards/base.html" %}
{% block pagetitle %}{% if highlight_statement %}{{ highlight_statement.name_info.display_name }}, &quot;{{ highlight_statement.topic }}&quot; on {% else %}Debates of {% endif %}{{ hansard.date|date:"N jS, Y" }}{% endblock %}
{% block pageheading %}Debates of {{ hansard.date|date:"N jS, Y" }}{% endblock %}

{% block breadcrumbs %}<li><a href="{% url "debates" %}">Debates</a></li> <li><a href="{% url "debates_by_year" year=hansard.date.year %}">{{ hansard.date.year }}</a></li> <li>{{ hansard.date|date:"F jS" }}</li>{% endblock %}

{% block headextra %}

	{% if highlight_statement or highlight_statement == 0%}
		<link rel="canonical" href="{{ request.path }}only/">
	{% endif %}
{% endblock %}

{% block content %}
<div class="row align-right">
	<div class="main-col"><p>House of Commons Hansard #{{ hansard.number }} of the {{ hansard.session }}. (The <a href="{{ hansard.url }}" data-hoc-doc-url>original version</a> is on Parliament's site.)
	{% with hansard.most_frequent_word as wotd %}{% if wotd %}The <span class="tipunderline" data-tooltip title="Most frequently spoken word, compared to other recent debates.">word of the day</span> was <strong>{{ wotd }}</strong>.{% endif %}{% endwith %}</p></div>
</div>

<div class="row columns wordcloud"></div>

<div class="row">
	<div class="context-col"><h2>Topics</h2></div>
	<div class="main-col"><div class="row tile dense small-up-2 medium-up-3 large-up-4">
{% with hansard.get_absolute_url as my_url %}
	{% for topic in hansard.topics_with_qp %}<div class="column column-block oneline overflowtip"><a href="{% if singlepage %}#s{{ topic.1 }}{% else %}{{ my_url }}{{ topic.1 }}/#hl{% endif %}">{{ topic.0 }}</a></div>{% endfor %}
{% endwith %}
	</div></div>
</div>

<div id="paginated">

{% include "hansards/statement_page.inc" %}

</div>
{% endblock %}

{% block js %}
<script>
$(function() {
	var document_url = "{{ hansard.get_absolute_url|escapejs }}";
	var wordcloud_opts = {
		searchURL: '/search/?q=Document:+%22' + document_url + '%22+'
	};
	{{ wordcloud_js }}
});
</script>
{% endblock %}