{% extends "hansards/base.html" %}
{% load markup thumbnail compress %}
{% block pagetitle %}{% if highlight_statement %}{{ highlight_statement.name_info.display_name }}, &quot;{{ highlight_statement.topic }}&quot; on {% else %}Debates of {% endif %}{{ hansard.date|date:"N jS, Y" }}{% endblock %}
{% block pageheading %}Debates of {{ hansard.date|date:"N jS, Y" }}{% endblock %}
{% block breadcrumbs %}<a href="{% url parliament.hansards.views.index %}">Debates</a> <a href="{% url parliament.hansards.views.by_year year=hansard.date.year %}">{{ hansard.date.year }}</a> {{ hansard.date|date:"F jS" }}{% endblock %}
{% block headextra %}
	{% if highlight_statement or highlight_statement == 0%}
		<link rel="canonical" href="{{ request.path }}only/">
	{% endif %}
{% endblock %}
{% block content %}
<div class="focus"><p>House of Commons Hansard #{{ hansard.number }} of the {{ hansard.session }}. (The <a href="{{ hansard.url }}">original version</a> is on Parliament's site.)
	{% with hansard.most_frequent_word as wotd %}{% if wotd %}The <span class="tip tipunderline" title="Most frequently spoken word, excluding a fixed list of extra-boring words (like 'the', or 'government').">word of the day</span> was {% if hansard.wordcloud %}<a href="{{ hansard.wordcloud.url }}" rel="lightbox">{{ wotd }}</a>{% else %}<strong>{{ wotd }}</strong>{% endif %}.{% endif %}{% endwith %}</p></div>

<div class="clear"></div><div class="context"><h2>Topics</h2></div>
<div class="focus"><ul class="tile clearafter">
{% with hansard.get_absolute_url as my_url %}
	{% for topic in hansard.topics_with_qp %}<li class="four oneline overflowtip"><a href="{% if singlepage %}#s{{ topic.1 }}{% else %}{{ my_url }}{{ topic.1 }}/#hl{% endif %}">{{ topic.0 }}</a></li>{% endfor %}
{% endwith %}
</ul></div>

<div id="paginated">

{% include "hansards/statement_page.inc" %}

</div>
{% endblock %}
{% block footer_text %}<p>View the day's debates on a <a href="{{ pagination_url }}?singlepage=1">single page</a>.</p>{{ block.super }}{% endblock footer_text %}