{% extends "hansards/base.html" %}

{% block breadcrumbs %}{{ block.super }}Debates{% endblock %}
{% block contentclass %}context_3{% endblock %}

{% block content %}
<div class="focus">
<p>When Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a <a href="http://en.wikipedia.org/wiki/Hansard">Hansard</a>. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search via the box above.</p>
</div>
{% if latest %}{# hack to evaluate latest #}{% endif %}
{% with latest.0 as hansard %}{% with hansard.get_absolute_url as hurl %}
<div class="clear"></div><div class="context"><h2>{{ hansard.date|date:"F jS" }}</h2></div>
<div class="focus"><ul class="tile clearafter">
{% for topic in hansard.topics_with_qp %}<li class="four oneline overflowtip"><a href="{% url parliament.hansards.views.hansard hansard_id=hansard.id statement_seq=topic.1 %}#hl">{{ topic.0 }}</a></li>{% endfor %}
</ul></div>
{% endwith %}{% endwith %}
<div class="clear"></div><div class="context"><h2>Recent</h2></div>
<div class="focus">
<ul class="tile clearafter">{% for hansard in latest %}
{% if not forloop.first %}<li class="three"><a href="{{ hansard.get_absolute_url }}">{{ hansard.date|date:"F jS" }}</a></li>{% endif %}
{% endfor %}</ul></div>

<div class="clear"></div><div class="context"><h2>Past</h2></div>
<div class="focus">
<ul class="tile clearafter">{% for year in date_list %}
<li class="three"><a href="{% url parliament.hansards.views.by_year year=year.year %}">{{ year.year }}</a></li>
{% endfor %}</ul></div>
{% endblock content %}