{% extends "hansards/base.html" %}
{% block pagetitle %}{% if highlight_statement %}{% if highlight_statement.name_info.display_name %}{{ highlight_statement.name_info.display_name }}, {% endif %}&quot;{{ highlight_statement.topic }}&quot; on {% else %}Debates of {% endif %}{{ hansard.date|date:"N jS, Y" }}{% endblock %}
{% block pageheading %}Debates of {{ hansard.date|date:"N jS, Y" }}{% endblock %}

{% block breadcrumbs %}<li><a href="{% url "debates" %}">Debates</a></li> <li><a href="{% url "debates_by_year" year=hansard.date.year %}">{{ hansard.date.year }}</a></li> <li>{{ hansard.date|date:"F jS" }}</li>{% endblock %}

{% block headextra %}

	{% if highlight_statement or highlight_statement == 0%}
		<link rel="canonical" href="{{ request.path }}only/">
		<meta name="robots" content="noindex">
	{% endif %}
{% endblock %}

{% block content %}
<div class="row align-right">
	<div class="main-col"><p>House of Commons Hansard #{{ hansard.number }} of the {{ hansard.session }}. (The <a href="{{ hansard.url }}" data-hoc-doc-url>original version</a> is on Parliament's site.)
	{% with hansard.most_frequent_word as wotd %}{% if wotd %}The <span class="tipunderline" data-tooltip title="Most frequently spoken word, compared to other recent debates.">word of the day</span> was <strong>{{ wotd }}</strong>.{% endif %}{% endwith %}</p></div>
</div>

<div class="row columns wordcloud"></div>

<div class="row">
	<div class="context-col"><h2>Topics</h2></div>
	<div class="main-col">
		{% if hansard_topics_ai_summary %}{% include "ai_warning.inc" %}{% endif %}
		{% include "hansards/topics_list.inc" with topics_data=hansard_topics_data document=hansard only %}
		{% if hansard_topics_ai_summary %}{% include "summary_poll.inc" with summary=hansard_topics_ai_summary %}{% endif %}
	</div>
</div>	

<div id="paginated">

{% include "hansards/statement_page.inc" %}

</div>
{% endblock %}

{% block js %}
<script>
$(function() {
	var document_url = "{{ hansard.get_absolute_url|escapejs }}";
	var wordcloud_opts = {
		searchURL: '/search/?q=Document:+%22' + document_url + '%22+'
	};
	{{ wordcloud_js }}
});
</script>
{% endblock %}